/* GENERAL SETTING */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, sans-serif;
    background: linear-gradient(160deg, #0a0e1a, #121633, #1a1040);
    color: white;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

/* NAVBAR */
header {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: rgba(10,12,28,0.6);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #dadada;
    transition: .3s;
}
nav a:hover {
    color: #ff6ace;
    text-shadow: 0 0 10px #ff6ace;
}

/* HERO */
.hero {
    min-height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 10%;
}
.profile {
    width: 430px;
    filter: drop-shadow(0 0 20px rgba(255, 90, 200, .4));
}
.typing {
    border-right: 3px solid #ff6ace;
    font-size: 38px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: fit-content;
    animation: typing 4s steps(40) forwards, blink .7s infinite;
}

/* SKILLS */
.skills {
    padding: 50px 10%;
    text-align: center;
}
.skill-box span {
    padding: 10px 25px;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    margin: 10px;
    display: inline-block;
    font-weight: bold;
    border: 1px solid rgba(255,255,255,0.2);
    transition: .3s;
}
.skill-box span:hover {
    background: #ff6ace;
    box-shadow: 0 0 20px #ff6ace;
}

/* ABOUT */
.about {
    padding: 40px 10%;
    background: rgba(255,255,255,0.05);
    margin: 50px 5%;
    border-radius: 15px;
}

/* PORTFOLIO */
.portfolio-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.card {
    width: 30%;
    background: rgba(255,255,255,0.1);
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 25px #57a8ff;
}
.card img {
    width: 100%;
    border-radius: 10px;
}

/* CONTACT */
.contact {
    text-align: center;
    padding: 40px 0;
}
.contact a {
    color: #57a8ff;
    text-decoration: none;
}

/* FOOTER */
footer {
    padding: 20px;
    text-align: center;
    background: rgba(0,0,0,0.4);
}

/* ANIMATIONS */
@keyframes float {
    0% {transform: translateY(0);}
    50% {transform: translateY(-12px);}
    100% {transform: translateY(0);}
}
@keyframes typing {
    from { clip-path: inset(0 100% 0 0); }
    to { clip-path: inset(0 0 0 0); }
}
@keyframes blink {50% {border-color: transparent;}}
@keyframes gradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
.fade-in { animation: fade 1.5s ease; }
@keyframes fade {
    from {opacity: 0; transform: translateY(20px);}
    to {opacity: 1; transform: translateY(0);}
}
.float { animation: float 3s infinite ease-in-out; }
